/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2017, 4:08:38 PM
    Author     : Jeff
*/
html {
    height: 100vh;
}
body {
    background-image:url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: white!important;
}

nav:not(.mm-menu)
{
	display: none;
}

.settingsLink{
    color: white;
    margin: 5px 5px;
}
.settingsLink:active{
    color: white;
}
.settingsLink:hover{
    color: white;
}
.page{
    /*background-color: rgba(0,0,0,0.8)!important;*/
    width: 100%;
    height: 100%;
}
.app-container{
    background-color: rgba(0,0,0,0.8)!important;
    width: 100%;
    height: 100%;
}

.reset-all{
    height: 10%;
}

.characters{
    display: flex;
    height: 80%;
}

.char{
    width: 33%;
    margin: auto;
}
.char-img{
    
}
.char-img img{
    width:300px; /* you can use % */
    height: auto;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}
.char-name{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.char-roll{
    width: 100%;
}
.char-roll-btn{
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.char-divide{
    margin: auto;
    width: 34%;
    font-size: 50px;
    text-align: center;
}
.char-divide-text{
    position: absolute;  
    left: 50%;                        /* horizontal alignment */
    top: 45%;                         /* vertical alignment */
    transform: translate(-50%, -45%);
}

.stage{
    font-size: 72px;
    height: 10%;
    display: flex;
}
.stage-header{
    margin-right: auto;
}
.stage-name{
    margin: 0 auto;
}
.stage-img img{
    width:300px; /* you can use % */
    height: auto;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}
.stage-roll{
    margin: 0 auto;
    width: 20%;
    height:75%;
}
.stage-roll button{
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
}